.testdiv {
    background-color: #ffffff !important;
    margin: 100px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 30px 1px #d3d2d2;
    height: 850px;
}

.info {
    float: left;
    clear: none;
    width: 75%;
}

.left {
    float: left;
    clear: none;
    width: 80%;
    font-size: 20px;
}

.right {
    clear: none;
}

.right p {
    margin-bottom: 0px;
    padding-right: 20px;
    font-size: 15px;
    color: #adadad;
    text-align: right;
}

.cardInfo {
    padding-top: 30px;
    text-align: left;
}

.cardInfo p {
    font-size: 18px;
    text-align: left;
}

.describe p {
    font-size: 15px;
    color: #adadad;
}

.describe input {
    height: 5px;
    width: 30%;
    margin-right: 10px;
}

.btn-pay{
    background-color: var(--green) !important;
    width: 100%;
    height: 50px;
    color: #fff !important;
    border: 0;
    font-family: SFCompactBold !important;
    font-size: clamp(18px, 2.5vw, 20px);
    border-radius: 10px;
    margin-top: 50px;
}

.btn-pay:focus {
    outline: 0;
}

.btn-pay:active{
    transform: scale(0.97);
}

.btn-pay:disabled{
    border: 0;
    background-color: #cbd2da  !important;
    color: rgba(0, 0, 0, 0.867)!important;
}

.btn-pay:disabled, .wrap{
    cursor: not-allowed; 
}

.card {
    border-color: rgb(255, 255, 255);
    padding: 50px;
    z-index:100; 
}

.bf-vc {
    margin-top: 0px;
    text-align: center;
}

.virtualCredit {
    height: 250px;
    width: 80%;
    background-image: linear-gradient(45deg, #141414, #7a7a7a);
    z-index:100; 
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.showInfo {
    margin-top: -65px;
    background-color: rgb(217, 251, 251);
    border-radius: 20px;
    padding: 20px;
    z-index: -1;
}

.marg {
    padding-top: 60px;
}

.infoHeader p {
    font-size: 15px;
    color: #adadad;
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}